<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="HostedPCI_PaymentAuthUrl" value="" />
    <add key="HostedPCI_PaymentSaleUrl" value="" />
    <add key="HostedPCI_PaymentCaptureUrl" value="" />
    <add key="HostedPCI_PaymentCreditUrl" value="" />
    <add key="HostedPCI_PaymentVoidUrl" value="" />
    <add key="HostedPCI_ApiVersion" value="" />
    <add key="HostedPCI_ApiType" value="" />
    <add key="HostedPCI_UserName" value="" />
    <add key="HostedPCI_UserPassKey" value="" />
  </appSettings>
</configuration>